body {
    background-color: rgb(242, 245, 249);
    margin: 0 auto;
}


/* typography */ 

h1 {
    font-family: ff-market-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
    margin: 0;
    margin-bottom: -10px;
    color: #5CC5C9;
}

h2 {
    font-family: ff-market-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
    margin: 0;
    color: #5CC5C9;
}

h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25pt;
    margin: 0;
    color: #105383;
}

h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    color: #105383;
}

h5{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15pt;
    color: #105383;
}

p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    margin-bottom: 14pt;
    margin-top: 4pt;
}


/* Navigation  */
#nav {
    background-color: #F2F5F9;
    border: none;
    box-shadow: 15px 15px 18px #e1e4e8, 
                -15px -15px 18px #ffffff;
    height: 90px;
    margin-bottom: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding-left: 45pt;
    padding-right: 45pt;
}

.nav_but {
    border: none;
    background-color: rgb(242, 245, 249, 0);
    color: #105383;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    background: #F2F5F9;
    box-shadow: 7px 7px 10px #e3e6ea, 
                -7px -7px 10px #ffffff;
    height: 50px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_but:hover {
    background: #F2F5F9;
    box-shadow: inset 14px 14px 16px #e1e4e8, 
                inset -14px -14px 16px #ffffff;
}

#nav_logo {
    border: none;
    background-color: rgb(242, 245, 249, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about me */

#hp_about_me {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "profile_pic title_1" "profile_pic title_1";
    padding-left: 40pt;
    padding-right: 40pt;
    margin-bottom: 40px;
}

#profile_pic {
    grid-area: profile_pic;
    margin-top: 15px;
    margin-left: -40px;
}

#title_1 {
    grid-area: title_1;
    align-self: center;
    justify-content: left;
    margin-top: 15px;
    padding: 30px;
    padding-left: 40px;
}

/*UX|UI Case Studies*/

#hp_uxui {
    padding: 25pt;
    background: #105383;
    box-shadow:  7px 7px 10px #e3e6ea, 
                -7px -7px 10px #ffffff;
}

.sec_title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.uxui_cs_cards {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.cs_img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cs_img img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}



/*FOOTER*/

#footer {
    background-color: #F2F5F9;
    border: none;
    height: 90px;
    margin-bottom: 12px;
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "foot_icon_grp back_to_top copyright";
    position: relative;
    align-items: center;
    padding-left: 40pt;
    padding-right: 40pt;
}

#foot_icon_grp{
    grid-area: foot_icon_grp;
    display: flex;
    justify-content: left;
    column-gap: 25px;
}

.foot_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: #F2F5F9;
    box-shadow:  7px 7px 10px #e3e6ea, 
                -7px -7px 10px #ffffff;

    /*background: #F8B7B5;
    box-shadow:  10px 10px 20px #d59d9c, 
                 -10px -10px 20px #ffd1ce;*/
}

.foot_icon:hover {
    background: #F2F5F9;
    box-shadow: inset 14px 14px 16px #e1e4e8, 
                inset -14px -14px 16px #ffffff;
}

.foot_icon img{
    height: 30px;
}

#copyright {
    grid-area: copyright;
    display: grid;
    align-items: center;
    justify-content: right;
}


#back_to_top {
    grid-area: back_to_top;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(242, 245, 249, 0);
    color: #105383;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50px;
    background: #F2F5F9;
    box-shadow: 7px 7px 10px #e3e6ea, 
                -7px -7px 10px #ffffff;
    height: 50px;
    min-width: 150px;
}

#back_to_top:hover {
    background: #F2F5F9;
    box-shadow: inset 14px 14px 16px #e1e4e8, 
                inset -14px -14px 16px #ffffff;
}
